.actors {
    margin-top: 70px;
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    transition: all 0.9s;
    
  }
  &__item {
    max-width: 100%;
    transition: all 0.9s;
    transform: scale(1);
    &:hover{
      transition: all 0.9s;
      transform: scale(1.03);
    }
    img {
      width: 100%;
    }
  }
  &__item-text {
    padding-top: 25px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    @extend %Mul-700;
    text-align: center;
  }
}

@media (min-width: 450px) {
  .actors__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 650px) {
  .actors__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) {
  .actors {
    &__items {
      grid-template-columns: repeat(6, 1fr);
    }
    &__item {
      max-width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
@media (min-width: 992px) {
  .actors {
    &__items {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 48px;
    }
    &__item {
      max-width: 211px;
      img {
        width: 100%;
      }
    }
  }
}
