// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

body {
  @extend %Mul-700;
  background-color: #000000;
  color: #fff;
  &.locked {
    overflow: hidden;
  }
  // Dark mode styles
  &.dark {
    background: #242424;
  }
}

/* cart */
    .cart {
      padding-top: 0;
      cursor: pointer;
      border-radius: 20px;
      border-color: transparent;
      &:hover {
        border-radius: 20px;
        box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
        border: 1px solid transparent;
        border-color: rgba(44, 176, 249, 0.5);
      }
      img {
        width: 100%;
      }
    }

/*  subtitle */
.subtitle {
  @extend %Mul-700;
  position: relative;
  font-size: 28px;
  padding-left: 30px;
  color: rgb(255, 255, 255);
  display: block;
  padding-bottom: 40px;
  &::after {
    content: "";
    left: -12px;
    position: absolute;
    border-radius: 50px;
    top: 10px;
    background: linear-gradient(
      -8.53deg,
      rgb(38, 255, 242) 19.902%,
      rgb(50, 108, 255) 57.087%
    );
    width: 35px;
    height: 8px;
    transform: rotate(-90deg);
  }
}
//Button
.btn {
  transform: scale(1);
  padding: 1;
  border-radius: 100px;
  box-shadow: 0px 4px 50px 0px rgba(50, 108, 255, 0.5);
  background: linear-gradient(
    -8.53deg,
    rgb(38, 255, 242) 14.48%,
    rgb(50, 108, 255) 68.778%
  );
  color: rgb(255, 255, 255);
  @extend %Mul-800;
  font-size: 16px;
  padding: 30px 15px;
  transition: all 0.9s;
  &:hover {
    transform: scale(1.03);
    transition: all 0.9s;
    background: #fff;
    color: #000;
    transform: scale(1.03);
    .herro__play {
      transition: all 0.5s;
      fill: #000;
    }
  }
}
// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
