.movies {
  padding-top: 70px;
  &__link {
    display: block;
  }
  .btn{
    max-width: 140px;
    margin-top: 56px;
    padding: 15px 33px;
  }
}

.swiperMovies {
  overflow: hidden;
  .cart{
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.9;
    width: 100%;
    img {
      width: 100%;
      transition: all 0.9;
    }
  }
}
@media (min-width: 992px) {
  .swiperMovies {
    .cart{
      width: 206px;
    }
  }
}
