.popular {
  padding-top: 70px;
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
  }
  &__item {
    padding: 45px 0;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transform: scale(1);
    transition: all 0.9s;
    cursor: pointer;
    &:hover {
      transform: scale(1.03);
      transition: all 0.9s;
    }
    img {
      max-width: 130px;
    }
  }
  &__item:nth-child(1) {
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(
      135.87deg,
      rgb(253, 9, 63) 2.396%,
      rgb(243, 131, 241) 100%
    );
  }
  &__item:nth-child(2) {
    background: linear-gradient(
      143.47deg,
      rgb(15, 255, 218) 2.223%,
      rgb(60, 219, 119) 68.837%
    );
  }
  &__item:nth-child(3) {
    background: linear-gradient(
      135.87deg,
      rgb(185, 54, 255) 2.396%,
      rgb(87, 222, 218) 100%
    );
  }
  &__item:nth-child(4) {
    background: linear-gradient(
      135.87deg,
      rgb(253, 9, 63) 2.396%,
      rgb(251, 19, 120) 2.405%,
      rgb(252, 203, 26) 100%
    );
  }
  &__item:nth-child(5) {
    background: linear-gradient(
      135.87deg,
      rgb(253, 9, 63) 2.396%,
      rgb(251, 19, 120) 2.405%,
      rgb(252, 203, 26) 100%
    );
  }
  &__item:nth-child(6) {
    background: linear-gradient(
      137.08deg,
      rgb(19, 84, 122) 2.366%,
      rgb(128, 208, 199) 96.773%
    );
  }
  &__item:nth-child(7) {
    background: linear-gradient(
      136.77deg,
      rgb(255, 247, 123) 2.374%,
      rgb(255, 191, 66) 50%
    );
  }
  &__item:nth-child(7) {
    background: linear-gradient(
      136.77deg,
      rgb(255, 247, 123) 2.374%,
      rgb(255, 191, 66) 50%
    );
  }
  &__item:nth-child(8) {
    background: linear-gradient(
      135.87deg,
      rgb(31, 162, 255) 2.396%,
      rgb(31, 162, 255) 2.405%,
      rgb(31, 83, 92) 97.458%
    );
  }
}
@media (min-width: 650px) {
  .popular__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 998px) {
  .popular {
    padding-top: 100px;
    &__items {
      grid-template-columns: repeat(4, 1fr);
    }
    &__item {
      max-width: 340px;
      padding: 45px 0;
      width: 100%;
      height: 198px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      transform: scale(1);
      transition: all 0.9s;
      cursor: pointer;
      &:hover {
        transform: scale(1.03);
        transition: all 0.9s;
      }
      img {
        max-width: 130px;
      }
    }
  }
}
